.mainPageContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.popularCategories {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.featuredProducts {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.previewContainer {
  font-family: sans-serif;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}


.previewImageContainer {
  width: 90%;
  margin: 0 auto;
}

.previewImage {
  width: 90%;
  object-fit: cover;
}

.productPreview {
  background-color: rgb(233, 230, 229, .4);
  padding: 20px;
  border-radius: 20px;
}

.productPreview:hover {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  outline: 5px solid rgb(62, 110, 240);
}

.inStock {
  padding: 0;
  font-size: 20px;
  margin-top: 20px;
  color: red;
  font-family: sans-serif;
  font-weight: bolder;
}

.purchaseDetails {
  flex-wrap: wrap;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.detailDiv {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 230, 229, .4);
  border-left: 5px solid rgb(62, 110, 240);
  border-top: 5px solid rgba(141, 30, 170);
  border-right: 5px solid rgb(62, 110, 240);
  border-bottom: 5px solid rgba(141, 30, 170);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.detailIcon {
  font-size: 60px !important;
  background-color: white;
  border: 1px solid rgb(0, 0, 0, .4);
  border-radius: 10px;
  margin: 0;
  padding: 15px;
}

.promise {
  font-size: 20px;
}

.detailDescription {
  font-size: 20px;
  line-height: 0px;
  margin: 0 0 60px 0;
  padding: 0;
}

@media only screen and (max-width: 820px) {
  .previewContainer {
    flex-wrap: wrap;
  }

  .detailDescription {
    font-size: 15px;
  }

  
}