.mainPageContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.popularCategories {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.featuredProducts {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}

.previewContainer {
  font-family: sans-serif;
  margin: 70px auto;
  display: flex;
  gap: 20px;
}


.previewImageContainer {
  width: 90%;
  margin: 0 auto;
}

.previewImage {
  width: 90%;
  object-fit: cover;
}

.productPreview {
  background-color: rgb(233, 230, 229, .4);
  padding: 20px;
  border-radius: 20px;
}

.productPreview:hover {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}