.shoppingCart {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
}

.shoppingCartHeader {
  border: 1px solid black;
  color: white;
  background: rgb(62, 110, 240);
  background: linear-gradient(
    200deg,
    rgba(62, 110, 240, 1) 0%,
    rgba(141, 30, 170, 1) 49%,
    rgba(62, 110, 240, 1) 100%
  );
  display: flex;
  align-items: center;
}

.cartIcon {
  height: 100%;
  font-size: 50px !important;
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  margin-right: 30px;
}

.cartContents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productFullContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  cursor: pointer;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.productImage:hover {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.productDetails {
  flex: 1;
  font-family: sans-serif;
}

.productName {
  padding: 0 0 10px 0;
  margin: 10px 0 0 0;
  text-decoration: underline;
  color: purple;
  cursor: pointer;
}

.condition {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.idAndPrice {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.features {
  width: 100%;
  margin: 10px auto;
}

.remove {
  cursor: pointer;
  color: purple;
  text-decoration: underline;
}

@media only screen and (max-width: 820px) {
  .cartIcon {
    font-size: 30px !important;
  }

  .shoppingCart {
    width: 100%;
  }
  .shoppingCartHeader {
    font-family: sans-serif;
    font-size: 12px;
  }

  .productImageContainer {
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0;
  }

  .productImage {
    width: 60%;
  }

  .productDetails {
    flex: 1;
  }

  .productName {
    font-size: 10px;
  }

  .condition {
    font-size: 10px;
  }

  .strings {
    font-size: 10px;
  }

  .idAndPrice {
    font-size: 10px;
  }

  .features {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    flex-wrap: wrap;
    font-size: 9px;
  }

  .remove {
    font-size: 10px;
  }
}
